<script type="module" src="/global/navigation-inserter.js"></script>
<div class="layout-container">
	<!--prte-navigation></prte-navigation-->
	<main>
		<% partial("app/resources/genie_components/blog_content.jl.html", context = @__MODULE__, coverpage=coverpage) %>
	</main>
</div>