<script type="module" src="/global/navigation-inserter.js"></script>
<script type="module" src="/pieces-situated/deck-inserter.js"></script>
<div class="layout-container">
	<!--prte-navigation></prte-navigation-->
	<main>
		<h1>Most recent pieces</h1>
		<div id="div_deck-target"></div>
	</main>
</div>