/* /blog-piece-situated/blog-piece-style.css */

ul.reference-list {
	list-style-type: none;
}

ul.reference-list > li {
	text-indent: -2ch;
}

ul.reference-list > li > cite.-article {
	font-style: normal;
}

.title-block > .authordate {
	font-size: calc(0.75 * var(--body-font-size));
}

.visual-aid {
	align-self: center;
}
