<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
  <title>$(title) | ProvocaTeach</title>
  <meta name="description" content="$( subtitle )"/>

  <link rel="icon" href="/favicon.svg"/>
  <link rel="stylesheet" href="/global/global-style.css"/>
  <link rel="stylesheet" href="/global/global-fonts.css"/>

	<script type="module" src="/prte-web-components/prte-navigation/prte-navigation.js"></script>
	<script defer data-api="/api/event" data-domain="provocateach.art" src="/js/script.js"></script>
</head>
<body>
  <% @yield %>
</body>
</html>
