<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head prefix="og: https://ogp.me/ns#">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
	<title>$( coverpage.piece_title ) | ProvocaTeach</title>
	<meta name="description" content="$( coverpage.piece_subtitle )"/>

	<link rel="icon" href="/favicon.svg"/>
	<link rel="stylesheet" href="/global/global-style.css"/>
	<link rel="stylesheet" href="/global/global-fonts.css"/>
	<link rel="stylesheet" href="/blog-piece-situated/blog-piece-style.css"/>
	<link rel="canonical" href="https://provocateach.art/pieces/$( coverpage.piece_slug )"/>

	<script type="module" src="/prte-web-components/prte-navigation/prte-navigation.js"></script>
	<script defer data-api="/api/event" data-domain="provocateach.art" src="/js/script.js"></script>


	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@ProvocaTeach"/>
	<meta name="twitter:title" property="og:title" content="$( coverpage.piece_title )"/>
	<meta name="twitter:description" property="og:description" content="$( coverpage.piece_subtitle )"/>
	<meta name="twitter:image" content="$( coverpage.page_thumbnail.content_IRI.uri )?tr=f-webp"/>
	<meta name="twitter:image:alt" content="$( coverpage.page_thumbnail.alt_text )"/>

	<meta property="og:url" content="https://provocateach.art/pieces/$( coverpage.piece_slug )"/>
	<meta property="og:image" content="$( coverpage.page_thumbnail.content_IRI.uri )?tr=f-jpg"/>
	<meta property="og:type" content="article"/>
</head>
<body>
	<% @yield %>
</body>
</html>
