@layer global, medium, component;

:root {
	/* Colors */
	--background-color: #ffeccd;
	--prte-mardi-gras-norm: #df61a4;
	--prte-mardi-gras: #870058;
	--unseen-link-color: var(--prte-mardi-gras);
	--seen-link-color: #7b5667;
	--hovered-link-color: var(--prte-mardi-gras-norm);
	--content-width: min(74ch, 100vw);

	/* Font families */
	--heading-font-fam: 'Aleo';
	--body-font-fam: 'Cello Sans';

	/* Font sizes */
	--body-font-size: clamp(
		1rem,
		0.5 * ((1650vw + 1117vh)/2767) + 1rem,
		2.4rem
	);
}

/* Elements */

html {
	background-color: var(--background-color);
	font-family: var(--body-font-fam);
	display: grid;
	place-items: center;
}

main {
	font-size: var(--body-font-size);
	max-width: var(--content-width);
	grid-area: content;
	margin-inline-start: 1ch;
	margin-inline-end: 1ch;
}

a {
	color: var(--unseen-link-color);
	font-size: var(--body-font-size);
}

a:visited {
	color: var(--seen-link-color);
}

a:hover {
	color: var(--hovered-link-color);
}

p {
	font-size: var(--body-font-size);
}

h1 {
	font-size: calc( 2.71828*var(--body-font-size) );
}

h2 {
	font-size: calc( 2*var(--body-font-size) );
}

h3 {
	font-size: calc( 1.64872*var(--body-font-size) );
}

h4 {
	font-size: calc( 1.28403*var(--body-font-size) );
}

h1, h2, h3, h4 {
	font-family: var(--heading-font-fam);
}

img {
	max-width: 100%;
}

/* Custom elements */

prte-navigation {
	display: inline flow-root;
	grid-area: nav;
}

/* Classes */

.layout-container {
	display: grid;
	justify-content: center;
	font-size: var(--body-font-size);
	max-width: var(--content-width);
	grid-template-columns: 1fr var(--content-width) 1fr;
	grid-template-areas:
		"left nav right"
		"left content right";
}
@media screen { /* media query prevents text from being cut off when page is printed */

}