/* aleo-300 - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 300;
  src: local('Aleo Light'),
       url('/global/fonts/aleo-v9-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/global/fonts/aleo-v9-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-300italic - latin */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 300;
  src: local('Aleo Light Italic'),
       url('/global/fonts/aleo-v9-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/global/fonts/aleo-v9-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-regular - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: local('Aleo Regular'),
       url('/global/fonts/aleo-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/global/fonts/aleo-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-italic - latin */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  src: local('Aleo Italic'),
       url('/global/fonts/aleo-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/global/fonts/aleo-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700 - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  src: local('Aleo Bold'),
       url('/global/fonts/aleo-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/global/fonts/aleo-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700italic - latin */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  src: local('Aleo Bold Italic'),
       url('/global/fonts/aleo-v9-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/global/fonts/aleo-v9-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Cello Sans';
  font-style: normal;
  font-weight: normal;
  src: 
    local('Cello Sans Regular'),
    url('/global/fonts/cellosans-regular-webfont.woff2') format('woff2'),
    url('/global/fonts/cellosans-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Cello Sans';
  font-style: italic;
  font-weight: normal;
  src: 
    local('Cello Sans Italic'),
    url('/global/fonts/cellosans-italic-webfont.woff2') format('woff2'),
    url('/global/fonts/cellosans-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Cello Sans';
  font-style: normal;
  font-weight: bold;
  src: 
    local('Cello Sans Bold'),
    url('/global/fonts/cellosans-bold-webfont.woff2') format('woff2'),
    url('/global/fonts/cellosans-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Cello Sans';
  font-style: italic;
  font-weight: bold;
  src: 
    local('Cello Sans Bold Italic'),
    url('/global/fonts/cellosans-bolditalic-webfont.woff2') format('woff2'),
    url('/global/fonts/cellosans-bolditalic-webfont.woff') format('woff');
}