<header class="title-block">
	<h1>$( coverpage.piece_title )</h1>
	<p class="authordate">Published by $( coverpage.creator_name ) on $(date_str).</p>
</header>

<img class="page-thumbnail" src="$( coverpage.page_thumbnail.content_IRI )" alt="$( coverpage.page_thumbnail.alt_text )"/>

<section class="page-heart">
	$( coverpage.page_heart )
</section>